/* estilo.css */
* {
    margin: 0;
    padding: 0;
}

footer {
    background-color: rgb(10, 10, 10);
    min-height: 50px;
    color: #999;
    padding: 19px;
}

header {
    background-color: rgb(252, 252, 252);
}

nav {
    min-height: 90px;
    margin-bottom: 0 !important;
}

#main {
    padding: 50px;
    background: linear-gradient(135deg, #ffc4cd 5%, #f3e29d 50%, #5a0743 100%, #000000 100%);
}

#main img {
    max-height: 400px;
}

#middle {
    margin: 50px 0;
}

#logo {
    margin: 20px 0;
}

.lista_footer {
    margin-top: 35px;
}

.link_menu {
    margin-top: 20px;
}

.link_menu a {
    color: #b46f15 !important;
    padding: 10px;
}

.link_menu a:hover {
    background-color: #c0483d !important;
    color: #111 !important;
}

.center {
    text-align: center
}

/* styling search bar */
.search input[type=text] {
    width: 300px;
    height: 25px;
    border-radius: 25px;
    border: none;
}

.search {
    float: right;
    margin: 7px;

}

.search button {
    background-color: #0074D9;
    color: #f2f2f2;
    float: right;
    padding: 5px 10px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    cursor: pointer
}